body {
  background-color: black;
  color: white;
}

.firstline {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 10px;
}

.sortoptions {
  margin: 10px;
}

.login {
  border-radius : 10px;
  border: 1px solid pink;
  padding: 10px;
}

.radiobuttons {
  margin-bottom:10px;
}

h1, h3{
  text-align: center;
}

.game-display {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color:darkslategray;
}

 .game-card {
  display: flex;
  flex-direction: column; 
  align-items: center; 
} 

.game-cover img {
  width: 200px; 
  height: 280px; 
  border: 1px solid pink;
  border-radius:10px;
}
