.logContainer {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: black;
  border-radius: 15px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logh2 {
  font-weight: bold;
  color: #ff0066;
}

label {
  color: #ff0066;
}

.logForm {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.logForm input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.logButton {
  padding: 10px;
  background-color: #555;
  color: white;
}

.logForm a {
  color: #ff0066;
  font-weight: bold;
}

.logForm h4 {
  color: #ff0066;
}
